<a href="https://colab.research.google.com/github/dongdongdongha/cu/blob/main/20509_%EB%A5%98%EB%8F%99%ED%95%98_2%ED%8E%98%EC%9D%B4%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a, b =12, 34
a, b = b, a
print(a, b)

34 12

In [4]:
ani = {}

print("요소 추가 이전 :", ani)
ani["작가"] = "황미나"
ani["연재작"] = "이오니아의 푸른 별"
ani["최근작"] = "보톡스"
print("요소 추가 이후 :", ani)

del ani['연재작']
print('요소 제거 이후 :', ani)

요소 추가 이전 : {}
요소 추가 이후 : {'작가': '황미나', '연재작': '이오니아의 푸른 별', '최근작': '보톡스'}
요소 제거 이후 : {'작가': '황미나', '최근작': '보톡스'}

In [8]:
rainbow = {'빨강':'red', '주황':'orange', "노":'yellow', '초':'green', '파':'blue', '남':'navy', '보':'purple'}

print("초록색 =", rainbow['초'])

rainbow['하얀색'] = 'white'
rainbow['주황'] = 'juhwang'
del rainbow['파']

print(rainbow)

초록색 = green
{'빨강': 'red', '주황': 'juhwang', '노': 'yellow', '초': 'green', '남': 'navy', '보': 'purple', '하얀색': 'white'}

In [10]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['boy', 'school', 'book'])
dict_values(['소년', '학교', '책'])
dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])

In [11]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
print(dic.get('boy'))
print(dic.get('student'))
print(dic.get('student, 사전에 없는 단어입니다.'))

소년
None
None

In [12]:
for key in dic.keys():
  print(key)

boy
school
book

In [15]:
for value in dic.values():
  print(value)

소년
학교
책

In [16]:
for item in dic.items():
  print(item)

('boy', '소년')
('school', '학교')
('book', '책')

In [21]:
pets = [
    {"name":"구름", "age":5},
    {"name":'초코', 'age':3},
    {"name":'아지', 'age':1},
    {"name":'호랑이', 'age':1}
]

print("#우리 동네 애완 동물들#")
for dkTid in pets:
  print(dkTid['name'], dkTid['age'],"살")

#우리 동네 애완 동물들#
구름 5 살
초코 3 살
아지 1 살
호랑이 1 살

In [22]:
numbers = [1,2,3,4,5,6,8,9,5,1,7,3,5,1,3,5,7,9]
count = {}

for i in numbers:
  if i in count:
    count[i] +=1
  else:
    count[i] = 1

print(count)

{1: 3, 2: 1, 3: 3, 4: 1, 5: 4, 6: 1, 8: 1, 9: 2, 7: 2}

In [23]:
song = "by the rivers of babylon"
alphabet = dict()

for c in song:
  if c.isalpha() == False:
    continue
  c = c.lower()
  if c in alphabet:
    alphabet[c] += 1
  else:
    alphabet[c] = 1

print(alphabet)

{'b': 3, 'y': 2, 't': 1, 'h': 1, 'e': 2, 'r': 2, 'i': 1, 'v': 1, 's': 1, 'o': 2, 'f': 1, 'a': 1, 'l': 1, 'n': 1}

In [24]:
def hi() :
  print('Hello world!')
hi()

Hello world!

In [27]:
def sum(a,b,c):
  s = (a + b + c) / 3
  print(s)

sum(3,5,10)

6.0

In [31]:
def pnt(n, *values):
  for i in range(n):
    for value in values:
      print(value, end = '')
    print()

pnt(2, "안녕하세요", "즐거운", "파이썬")
pnt(1, "즐거운", "파이썬")

안녕하세요즐거운파이썬
안녕하세요즐거운파이썬
즐거운파이썬

In [ ]:
def am(choice):
  if choice == "add":
    result =