<a href="https://colab.research.google.com/github/dongdongdongha/cu/blob/main/20509%EB%A5%98%EB%8F%99%ED%95%98_%ED%95%A8%EC%88%98_%ED%8C%8C%EC%9D%BC%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('a')

a

In [2]:
def Hi():
  print("Hello World")
Hi()

Hello World

In [5]:
def tt():
  for i in range(5):
    for j in range(i+1):
      print("*", end = '')
    print()
tt()
tt()
tt()

*
**
***
****
*****
*
**
***
****
*****
*
**
***
****
*****

In [6]:
def name(name):
  print(f"내 이름은 {name}이야. 만나서 반가워")

name("채송화")
name("아이유")

내 이름은 채송화이야. 만나서 반가워
내 이름은 아이유이야. 만나서 반가워

In [8]:
def ev(a):
  if a%2 == 0:
    print("짝수")
  else:
    print("홀수")
ev(11)

홀수

In [9]:
def r(r):
  for i in range(r):
    for j in range(i+1):
      print("*", end = '')
    print()
r(1)
r(11)

*
*
**
***
****
*****
******
*******
********
*********
**********
***********

In [11]:
def pnt(value, n):
  for i in range(n):
    print(value)
pnt(1,23)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [13]:
def avg(a,b,c):
  sum = a+b+c
  print(sum/3)
avg(3,5,10)

6.0

In [14]:
import random

def dnt(n):
  for i in range(n):
    k = random.randint(1,6)
    print(i+1, "번째 주사위 굴린 결과:", k)
dnt(7)

1 번째 주사위 굴린 결과: 2
2 번째 주사위 굴린 결과: 3
3 번째 주사위 굴린 결과: 2
4 번째 주사위 굴린 결과: 2
5 번째 주사위 굴린 결과: 1
6 번째 주사위 굴린 결과: 3
7 번째 주사위 굴린 결과: 6

In [15]:
print('b','TT',')*(')

b TT )*(

In [16]:
def ism(*ints):
  sum = 0
  for i in ints:
    sum += i
  return sum
print(ism(1,2,3,4,5))
print(ism(109.334,56,657,2,234,7645,75,68,679,67,2))

15
9594.334

In [24]:
def pnt(s, *ints):
  for i in range(s):
    for j in ints:
      print(j ,  end='')
    print()
pnt(3, "ㅎㅇㅌㅂ","파이썬")

ㅎㅇㅌㅂ파이썬
ㅎㅇㅌㅂ파이썬
ㅎㅇㅌㅂ파이썬

In [20]:
print('a')

a

In [26]:
def am(c, *a):
  if c == "add":
    result = 0
    for i in a:
      result = result + i
  elif c == "mul":
    result = 1
    for i in a:
      result = result * i
    return result

print(am('add', 1,2,3,4,8))

None

In [27]:
def start(a, *sa):
  for i in sa:
    for j in range(int(i)):
      print(a, end='')
    print()
start('*', 3,5,2)

***
*****
**

In [28]:
def pn(value, n=2):
  for i in range(n):
    print(value)

pn("안녕하세요")
pn("안녕히가세요", 3)

안녕하세요
안녕하세요
안녕히가세요
안녕히가세요
안녕히가세요

In [33]:
def cc(begin, end, step):
  sum = 0
  for num in range(begin, end +1, step):
    sum += num
  print("{}부터 {}까지의 숫자 중 {}간격씩 더한 값은 ".format(begin, end, step), end = '')
  return sum

print(cc(1,100,1))
print(cc(1,100, 12))

1부터 100까지의 숫자 중 1간격씩 더한 값은 5050
1부터 100까지의 숫자 중 12간격씩 더한 값은 441

In [35]:
def fn(a,b,c,d,e):
  print(a,b,c,d,e)

fn(1,2,3,4,5)
fn(a=1,b=2,c=3,d=4,e=5)
fn(a=2,b=3,c=5,d=1,e=4)
fn(1,2,e=5,d=4,c=3)

1 2 3 4 5
1 2 3 4 5
2 3 5 1 4
1 2 3 4 5

In [36]:
def pnt(value, n=2):
  for i in range(n):
    print(value)

pnt("안녕하세요")
pnt("sdlkfj",3)

안녕하세요
안녕하세요
sdlkfj
sdlkfj
sdlkfj

In [37]:
def fn(a,b,c,*d):
  print(a,b,c,d)

fn(1,2,3,4,5)
fn(a=1,b=2,c=3,d=4,e=5)
fn(1,2,e=5,d=4,c=3)

1 2 3 (4, 5)

TypeError: ignored

In [39]:
def return_t():
  return 100

value = return_t()
print(value)

100

In [42]:
def add(a,b):
  return a+b

value = add(123,1242)
print(value)

1365

In [43]:
def big(a,b):
  if a>b:
    return a
  else:
    return b

value = big(1234,43)
print(value)

1234

In [45]:
def sm(n):
  sum = 0
  for i in range(1,n+1):
    sum += i
  return sum

sm(10)

55

In [48]:
def min(*numbers):
  min_value = numbers[0]
  for n in numbers:
    if min_value > n:
      min_value = n
  return min_value

re = min(123,4,4,6,7,8,2,1)
print(re)

1

In [49]:
def mn(num, start, end):
  result = []
  for n in range(start, end):
    if n % num == 0:
      result.append(n)
  return result

m = mn(17, 1, 200)
print(m)

[17, 34, 51, 68, 85, 102, 119, 136, 153, 170, 187]

In [51]:
def mm(*args):
  min = max = args[0]
  for arg in args:
    if min > arg:
      min = arg
    if max < arg:
      max = arg
  return min, max
min, max = mm(12,234,67,908,3,-12,4,323,-124,4-2)
print(min)
print(max)

-124
908

In [55]:
import random
def pt(number, title, column):
  print(title)
  students = list(range(1,number+1))
  random.shuffle(students)
  pos = ""
  for i in range(0, number):
    if students[i] < 10:
      pos = pos + "0"+str(students[i])+"번\t"
    else:
      pos = pos + '\n'
  print(pos)
pt(20, title = "3-2반", column=5)

3-2반
02번	07번
05번	04번	09번


08번
06번


01번	03번

In [56]:
def hi():
  name = input('이름은?')
  print('hi!')
  print('My name is', name, '!')
print('자기소개를 시작합니다.')
hi()
print(name, '님 안녕하세요')

자기소개를 시작합니다.
이름은?류동하
hi!
My name is 류동하 !
<function name at 0x79b1944400d0> 님 안녕하세요

In [58]:
def hi():
  name = input('이름은?')
  print('hi!')
  print('My name is', name, '!')
  return name
print('자기소개를 시작합니다.')
person = hi()
print(person, '님 안녕하세요.')

자기소개를 시작합니다.
이름은?fbehdgk
hi!
My name is fbehdgk !
fbehdgk 님 안녕하세요.

In [59]:
def func1():
  a += 2
  b *= 2
  print(a,b)

a,b = 5,10
func1()

UnboundLocalError: ignored

In [61]:
def func1():
  #a += 2
  #b *= 2
  print(a,b)

a,b = 5,10
func1()

5 10

In [62]:
def func1():
  global a,b
  a += 2
  b *= 2
  print(a,b)

a,b = 5,10
func1()
func1()

7 20
9 40

In [64]:
def func1():
  global a,b
  a += 2
  b *= 2
  print(a,b)

a,b = 5,10
for i in range(5):
  func1()

7 20
9 40
11 80
13 160
15 320

In [67]:
def reward_penalty(kind, points):
  global current_point

  print('현재점수 :', current_point)
  if kind == '상점':
    current_point += points
  elif kind == '벌점':
    current_point -= points

current_point = 5
reward_penalty('상점', 5)
print("최종점수 :", current_point)

현재점수 : 5
최종점수 : 10

In [68]:
#ex1: 파일 열고닫기
file = open('basic.txt', 'w')
file.write('Hello Python Programming...!')
file.close()

In [69]:
#ex2:파일여닫기
with open('basic.txt', 'w') as file:
  file.write("Hello Python Programming...!!!")

In [70]:
#ex3:read()함수로 텍스트읽기
with open('basic.txt', 'r') as file:
  con = file.read()
print(con)

Hello Python Programming...!!!

In [77]:
#랜덤하게 100명의 키 몸무게 만들기

import random

hg = list('가나다라마바사아자차카타파하')

with open('info.txt', 'w') as file:
  for i in range(50):
    n = random.choice(hg)+random.choice(hg)+random.choice(hg)
    m = random.randrange(50,100)
    k = random.randrange(150,201)
    file.write("{},{},{}\n".format(n,m,k))