<a href="https://colab.research.google.com/github/dongdongdongha/cu/blob/main/20509%EB%A5%98%EB%8F%99%ED%95%98_%ED%8A%9C%ED%94%8C%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
t1=()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [5]:
t2=(1,)
print(t2)
print(type(t2))

(1,)
<class 'tuple'>

In [7]:
t3=(1,2,3)
print(t3)
print(type(t3))

(1, 2, 3)
<class 'tuple'>

In [9]:
t4=1,2,3
print(t4)
print(type(t4))

(1, 2, 3)
<class 'tuple'>

In [11]:
t5=('a','b',('ab','cd'))
print(t5)
print(type(t5))
print(t5[2])

('a', 'b', ('ab', 'cd'))
<class 'tuple'>
('ab', 'cd')

In [12]:
#p1_ex2
tu=2,
print(tu)
print(type(tu))

(2,)
<class 'tuple'>

In [17]:
#p1_ex3-1
tu=1,2,3,4,5

print(tu[3])
print(tu[1:4])
print(tu+(6,7))
print(tu*2)

4
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [18]:
tu[1]=100
print[tu]

TypeError: ignored

In [19]:
del tu[1]

TypeError: ignored

In [22]:
#p1_ex4

tu='이순신','김유신','강감찬'
# print(tu)
# print(tu[0])
# print(tu[1])
# print(tu[2])
lee,kim,kang = tu

print(lee)
print(kim)
print(kang)

이순신
김유신
강감찬

In [23]:
#p1_ex5

a=12
b=34
print(a,b)

c=a
a=b
b=c

print(a,b)

12 34
34 12

In [25]:
#p1_ex6
a=12
b=34
print(a,b)

a,b = b,a
print(a,b)

12 34
34 12

In [29]:
#p1_ex7
d,m= divmod(7,3)
print('몫=',d,'나머지=',m)

몫= 2 나머지= 1

In [31]:
#p1_ex8

score = [88,95,70,100,99]
print(type(score))
tu=tuple(score)
print(tu)
print(type(tu))
li = list(tu)
print(type(li))
print(li)

<class 'list'>
(88, 95, 70, 100, 99)
<class 'tuple'>
<class 'list'>
[88, 95, 70, 100, 99]

In [32]:
#p1_ex9-1
dic={'boy':'소년', 'school':'학교', 'book':'책'}
print(dic)
print(type(dic))

{'boy': '소년', 'school': '학교', 'book': '책'}
<class 'dict'>

In [35]:
#p1_ex9-2
print(dic['boy'])
print(dic['book'])
print(dic['school'])

소년
책
학교

In [37]:
#p1_ex9-3

dic={'boy':'소년', 'school':'학교', 'book':'책'}

dic['boy'] = '남자아이'
dic['girl']='여자아이'

print(dic)

{'boy': '남자아이', 'school': '학교', 'book': '책', 'girl': '여자아이'}

In [39]:
#p1_ex9-4
dic={'boy':'소년', 'school':'학교', 'book':'책'}

del dic['boy']
del dic['book']
print(dic)

{'school': '학교'}

In [41]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient": ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}
print(dictionary)

{'name': '7D 건조 망고', 'type': '당절임', 'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'], 'origin': '필리핀'}

In [42]:
print("name:",dictionary['name'])
print("type:",dictionary['type'])
print("ingredient",dictionary['ingredient'])
print("origin:",dictionary['origin'])

name: 7D 건조 망고
type: 당절임
ingredient ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin: 필리핀

In [43]:
dictionary['name'] ='8D 건조 망고'
dictionary['price'] = 5000
del dictionary['ingredient']
print(dictionary)

{'name': '8D 건조 망고', 'type': '당절임', 'origin': '필리핀', 'price': 5000}

In [45]:
ani = {}
print("요소 추가전 : ", ani)

ani['작가'] = '황미나'
ani['연재작'] = '이오니아의 푸른 별'
ani['최근작'] = '보톡스'
print("요소 추가후 : ", ani)

del ani['연재작']
print("요소 제거후 : ", ani)

요소 추가전 :  {}
요소 추가후 :  {'작가': '황미나', '연재작': '이오니아의 푸른 별', '최근작': '보톡스'}
요소 제거후 :  {'작가': '황미나', '최근작': '보톡스'}

In [52]:
a = {'빨강':'red','주황':'orange','노':'yello','초':'green','파':'blue','남':'navy', '보':'puple'}

print("초록색=", a['초'])

a['흰'] = 'white'
a['주'] = 'juhwang'
del a['파']

print(a)

초록색= green
{'빨강': 'red', '주황': 'orange', '노': 'yello', '초': 'green', '남': 'navy', '보': 'puple', '흰': 'white', '주': 'juhwang'}

In [54]:
dic={'boy':'소년', 'school':'학교', 'book':'책'}
print(dic)
print(dic.keys())
print(type(dic.keys()))
print(dic.values())
print(type(dic.values()))
print(dic.items())
print(type(dic.items()))

{'boy': '소년', 'school': '학교', 'book': '책'}
dict_keys(['boy', 'school', 'book'])
<class 'dict_keys'>
dict_values(['소년', '학교', '책'])
<class 'dict_values'>
dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])
<class 'dict_items'>

In [55]:
#p2_ex15
dic={'boy':'소년', 'school':'학교', 'book':'책'}
print(dic.get('boy'))
print(dic.get('student'))

소년
None

In [57]:
dic={'boy':'소년', 'school':'학교', 'book':'책'}
ddddd = sorted(dic)
print(dic)
print(ddddd)

{'boy': '소년', 'school': '학교', 'book': '책'}
['book', 'boy', 'school']

In [60]:
dic={'boy':'소년', 'school':'학교', 'book':'책'}
dic7=sorted(dic.items(), reverse = True)

In [68]:
dic={'boy':'소년', 'school':'학교', 'book':'책'}
for value in dic.values():
  print(value)

소년
학교
책

In [83]:
pets = [
    {'name':'구름', 'age':5},
    {'name':'초코', 'age':3},
    {'name':'아지', 'age':1},
    {'name':'호랑이', 'age':1}
]

print("#우리동네 애완 동물들#")
for i,j in pets.values():
  print(i,j)

#우리동네 애완 동물들#

AttributeError: ignored

In [79]:
numbers=[1,2,3,4,5,6,7,8,9,5,1,7,3,5,1,3,5,7,9]
count={}
for i in numbers:
  if i in count:
    count[i] += 1
  else:
    count[i] = 1
print(count)

{1: 3, 2: 1, 3: 3, 4: 1, 5: 4, 6: 1, 7: 3, 8: 1, 9: 2}

In [85]:
song = """by the rivers of babylon"""
alphabet=dict()

for c in song:
  if c.isalpha()==False:
    continue
  c=c.lower
  if c not in alphabet:
    alphabet[c]=1
  else:
    alphabet[c]+=1
print(alphabet)

{<built-in method lower of str object at 0x7a8c98529430>: 3, <built-in method lower of str object at 0x7a8c9857ccb0>: 2, <built-in method lower of str object at 0x7a8c98515170>: 1, <built-in method lower of str object at 0x7a8c985691b0>: 1, <built-in method lower of str object at 0x7a8c98555470>: 2, <built-in method lower of str object at 0x7a8c9872fef0>: 2, <built-in method lower of str object at 0x7a8c9872d1b0>: 1, <built-in method lower of str object at 0x7a8c98529d30>: 1, <built-in method lower of str object at 0x7a8c9872c670>: 1, <built-in method lower of str object at 0x7a8c985158b0>: 2, <built-in method lower of str object at 0x7a8c98702370>: 1, <built-in method lower of str object at 0x7a8c98543db0>: 1, <built-in method lower of str object at 0x7a8c98569670>: 1, <built-in method lower of str object at 0x7a8c98568430>: 1}

In [87]:
for code in range(ord('a'), ord('z')+1):
  c = chr(code)
  num =alphabet.get(c,0)
  print(c,"=>", num)

a => 0
b => 0
c => 0
d => 0
e => 0
f => 0
g => 0
h => 0
i => 0
j => 0
k => 0
l => 0
m => 0
n => 0
o => 0
p => 0
q => 0
r => 0
s => 0
t => 0
u => 0
v => 0
w => 0
x => 0
y => 0
z => 0