<a href="https://colab.research.google.com/github/dongdongdongha/cu/blob/main/%EB%A5%98%EB%8F%99%ED%95%98_205_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input("a입력:"))
b = int(input("b입력:"))
if a == 3 and b == 4:
  print("ok")
if a == 3 or b == 4:
  print("okay")

a입력:3
b입력:4
ok
okay

In [ ]:
x = int(input("숫자입력:"))
if x > 10 and x % 2 == 0:
  print("10 초과 짝수")

숫자입력:12
10 초과 짝수

In [ ]:
a = int(input("필기 성적 : "))
b = int(input("실기 성적 : "))
if a > 60 and b > 60:
  print("합격!")
else:
  print("불합격!")

필기 성적 : 66
실기 성적 : 65
합격!

In [ ]:
a = int(input("몇살이세요?"))
if a >= 0 and a < 7:
  print("입장료는 무료")
if a >= 65:
  print("입장료 무료")
else:
  print("입장료 3000원")

몇살이세요?534
입장료 무료

In [ ]:
a = input('아이디를 입력하세요 : ')
b = int(input("회원 lv.을 입력하세요 : "))
if a == 'admin' or b == 1:
  print("관리자")
else:
  print("회원")

아이디를 입력하세요 : admin
회원 lv.을 입력하세요 : 52
관리자

In [ ]:
a = int(input("정수 입력 : "))
if a > 100 or a < 0:
  print("0~100 out")
else:
  print("0~100 in")

정수 입력 : 41
0~100 in

In [ ]:
m = 3

if 3 <= m <= 5:
  print("봄")
elif 6 <= m <= 8:
  print("여름")
elif 9 <= m <= 11:
  print("가을")
else:
  print("겨울")

봄

In [ ]:
a = int(input("구매액:"))
if a < 20000:
  print("새벽배송 불가")
elif a < 50000:
  print("배송비 +2500")
else:
  print("무료배송")

구매액:64563
무료배송

In [ ]:
a = int(input("점수:"))
if a >= 90:
  print("a등급")
elif a >= 80:
  print("b등급")
elif a >= 70:
  print("c등급")
else:
  print("f등급")

점수:89
b등급

In [ ]:
a = int(input("1수:"))
b = int(input("2수:"))
c = int(input("3수:"))

if a > b:
  if a > c :
    print("가장큰수 a")
elif b > c:
  print("가장큰수 b")
else:
  print("가장큰수 c")

1수:4
2수:75
3수:32
가장큰수 b

In [ ]:
a = int(input("온도 입력 : "))
if a < 0:
  print("고체")
elif a < 100:
  print("액체")
else:
  print("기체")

온도 입력 : 100
기체

In [ ]:
a = int(input("영어점수 : "))
b = int(input("수학점수 : "))

if a >= 80 and b >= 80:
  print("최종합격")
elif a >= 80 or b >= 80:
  print("재시험")
else : 
  print("컷")

영어점수 : 41
수학점수 : 80
재시험 :

In [ ]:
a = int(input("1. 매우만족 / 2. 만족 / 3. 불만족"))
b = int(input("음식값 : "))

if a == 1:
  b = b+(b/5)
  print(b)
elif a == 2:
  b = b+(b/10)
  print(b)
else:
  b = b+(b/20)
  print(b)

1. 매우만족 / 2. 만족 / 3. 불만족3
음식값 : 1
1.05

In [ ]:
a = int(input("구매가 : "))
if a < 50000:
  a = a-(a*0.0025)
elif a < 300000:
  a = a-(a*0.005)
else:
  a = a-(a*0.01)
print(a)

구매가 : 600000
594000.0

In [ ]:
while(True):
    a = int(input("1.떡볶이 3000원/ 2. 김밥 2500원/ 3. 튀김 3500원"))
    if a < 4:
      break;
    else:
      print("1,2,3중에 택")

b = int(input("몇인분?"))
if a == 1:
  b *= 3000
elif a == 2:
  b *= 2500
else:
  b *= 3500
print(a*b)

1.떡볶이 3000원/ 2. 김밥 2500원/ 3. 튀김 3500원3
몇인분?3456
36288000

In [ ]:
a = int(input("체중(kg)"))
b = float(input("키(m)"))
f = a / (b*b)
print(f)
if f < 15:
  print("정상")
elif f <25:
  print("과체중")
else:
  print("비만")

체중(kg)60
키(m)1.8
18.51851851851852
과체중

In [ ]:
x = 17
if x > 10:
  if x % 2 == 0:
    print("10 초과 홀수")
  else:
    print("10 초과 짝수")
else:
  print("10 이하")

10 초과 짝수

In [ ]:
a = input("아이디:")
b = int(input("레벨:"))

if a == 'admin':
  print('모든 콘텐츠 이용가능')
else:
  if 2 <= b <= 7:
    print("일부 콘텐츠 이용가능")
  else:
    print("콘텐츠 이용불가")

아이디:admin
레벨:342
모든 콘텐츠 이용가능

In [ ]:
cy = int(input("현재년"))
cm = int(input("현재월"))
cd = int(input("현재일"))
by = int(input("출생년"))
bm = int(input("출생월"))
bd = int(input("출생일"))

if bm < cm:
  age = cy - by
elif bm == cm:
  if bd < cd:
    age = cy - by
  else:
    age = cy - by - 1
else:
  age = cy - by - 1
print("----------------------------------------------")
print("오늘날짜 : %d년 %d월 %d일" %(cy, cm, cd))
print("생년월일 : %d년 %d월 %d일" %(by, bm, bd))
print("----------------------------------------------")
print("만나이", age, "세")

현재년1
현재월1
현재일1
출생년1
출생월1
출생일1
----------------------------------------------
오늘날짜 : 1년 1월 1일
생년월일 : 1년 1월 1일
----------------------------------------------
만나이 -1 세

In [ ]:
import datetime
from pytz import timezone

now = datetime.datetime.now(timezone('Asia/Seoul'))
if 0 <= now.hour <= 12:
  a = '오전'
else:
  a = '오후'
print("현재는 ", now.hour, "시", now.minute, "분으로 ", a, "입니다.",sep = '')

현재는 11시28분으로 오전입니다.