<a href="https://colab.research.google.com/github/dongdongdongha/cu/blob/main/%EB%A5%98%EB%8F%99%ED%95%98_205_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
print(random.random())
print(random.randrange(1, 7))
print(random.randint(1,6))
print(random.choice([10, 20, 30]))

0.1727513571754139
5
6
30

In [ ]:
import random

a = random.randint(1, 24)
f = random.choice([1,0])

if f == 1:
  print("현재 날씨가 화창합니다")
else:
  print("현재 날씨가 화창하지 않습니다.")

print("좋은 아침입니다. 지금 시각은", a, "시입니다.")
if 6 <= a <= 8:
  print("종달새가 노래합니다.")
else:
  print("종달새가 노래하지 않는다.")

현재 날씨가 화창합니다
좋은 아침입니다. 지금 시각은 4 시입니다.
종달새가 노래하지 않는다.

In [ ]:
x = 0
while x < 3:
  print("안녕하세요")
  x += 1

안녕하세요
안녕하세요
안녕하세요

In [ ]:
st = 1
while st <= 3:
  print(st, "번 학생의 성적을 처리한다.")
  st += 1

1 번 학생의 성적을 처리한다.
2 번 학생의 성적을 처리한다.
3 번 학생의 성적을 처리한다.

In [ ]:
a = 1
while a <= 9:
  print("3 *", a,"=", 3*a)
  a += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
num = 1
sum = 0
while num <= 10:
  sum += num
  print("num값 : %d => 합계 : %d" %(num, sum))
  num += 1

num값 : 1 => 합계 : 1
num값 : 2 => 합계 : 3
num값 : 3 => 합계 : 6
num값 : 4 => 합계 : 10
num값 : 5 => 합계 : 15
num값 : 6 => 합계 : 21
num값 : 7 => 합계 : 28
num값 : 8 => 합계 : 36
num값 : 9 => 합계 : 45
num값 : 10 => 합계 : 55

In [ ]:
a = 150
s = 0

while a <= 300:
  if a % 2 == 1:
    s += a
    a += 1
  else:
    a += 1
print(s)

16875

In [ ]:
a = -5
s = 0

while a < 6:
  s = a * (9.0/5.0) + 32.0
  print(a,"\t",s)
  a += 1

-5 	 23.0
-4 	 24.8
-3 	 26.6
-2 	 28.4
-1 	 30.2
0 	 32.0
1 	 33.8
2 	 35.6
3 	 37.4
4 	 39.2
5 	 41.0

In [ ]:
n = 10
s = 1

while n > 0:
  s *= n
  n -= 1
print("10! =", s)

10! = 3628800

In [ ]:
a = 1

while a <= 20:
  if a % 2 == 0:
    print(a, end = ' ')
  a += 1

2 4 6 8 10 12 14 16 18 20

In [ ]:
a = 10

while a <= 50:
  if a % 3 != 0:
    print(a, end = ' ')
  a += 1

10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50

In [ ]:
while 1 : 
  a = input("암호 입력 : ")
  if a == 'python':
    print("로그인 성공")
    break

암호 입력 : asd
암호 입력 : sfgs
암호 입력 : java
암호 입력 : python
로그인 성공

In [ ]:
from os import sep
import random

a = random.randint(1, 100)
d = 0
while 1:
  s = int(input('숫자 맞춰보세요 : '))
  if a == s:
    print("정답")
    break
  elif a > s:
    print("작다")
  else:
    print("크다")
  d += 1
print(d,"회 도전", sep = '')

숫자 맞춰보세요 : 50
크다
숫자 맞춰보세요 : 30
크다
숫자 맞춰보세요 : 10
크다
숫자 맞춰보세요 : 4
작다
숫자 맞춰보세요 : 9
크다
숫자 맞춰보세요 : 6
정답
5회 도전

In [ ]:
for i in[1,2,3]:
  print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요

In [ ]:
for i in range(10):
  print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1,10,2):
  print(i, end = ' ')

1 3 5 7 9

In [ ]:
for i in range(1,11):
  print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(20, 0, -2):
  print(i,end = ' ')

20 18 16 14 12 10 8 6 4 2

In [ ]:
for i in range(0,3):
  print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요

In [ ]:
a = 10
for num in range(1,5,2):
  a += num
print(a)

14