<a href="https://colab.research.google.com/github/dongdongdongha/cu/blob/main/%EB%A5%98%EB%8F%99%ED%95%98_205_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in[1,2,3]:
  print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요

In [3]:
for i in range(10):
  print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [4]:
for i in range(1,11):
  print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

In [5]:
for i in range(20, 0, -2):
  print(i,end = ' ')

20 18 16 14 12 10 8 6 4 2

In [8]:
for i in range(0,3,1):
  print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요

In [7]:
a = 10
for num in range(1,5,2):
  a += num
print(a)

14

In [9]:
for i in range(1, 4):
  print(i, '번째 학생의 성적 처리')

1 번째 학생의 성적 처리
2 번째 학생의 성적 처리
3 번째 학생의 성적 처리

In [14]:
for i in range(2, 21, 2):
  print(i, end = ' ')

2 4 6 8 10 12 14 16 18 20

In [16]:
for i in range(1, 10):
  print("2 *", i, "=", 2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [20]:
a = 0
for i in range(1, 11):
  a += i
  print("i의 값 :", i, "  => 합계 :", a)

i의 값 : 1   => 합계 : 1
i의 값 : 2   => 합계 : 3
i의 값 : 3   => 합계 : 6
i의 값 : 4   => 합계 : 10
i의 값 : 5   => 합계 : 15
i의 값 : 6   => 합계 : 21
i의 값 : 7   => 합계 : 28
i의 값 : 8   => 합계 : 36
i의 값 : 9   => 합계 : 45
i의 값 : 10   => 합계 : 55

In [21]:
a = 0
for i in range(2, 101, 2):
  a += i
print(a)

2550

In [23]:
a = 1
for i in range(10, 0, -1):
  a *= i
print("10! =", a)

10! = 3628800

In [24]:
for i in range(5, 101, 5):
  print(i, end = '  ')
  if i % 7 == 0:
    print()

5  10  15  20  25  30  35
40  45  50  55  60  65  70
75  80  85  90  95  100

In [27]:
a = int(input("정수를 입력하세요 : "))
for i in  range(1, a+1, 1):
  if a % i == 0:
    print(i, end = ' ')

정수를 입력하세요 : 6
1 2 3 6

In [28]:
a1 = 0
a2 = 1
a3 = 0
print(a1, end = ' ')
print(a2, end = ' ')
for i in range(3, 21, 1):
  a3 = a1 + a2
  a1 = a2
  a2 = a3
  print(a2, end = " ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [29]:
for i in range(1, 41):
  if i % 10 == 0:
    print("+", end = '')
  else : 
    print("-", end="")

---------+---------+---------+---------+

In [31]:
i = 1
while i <= 40:
  if i % 10 == 0:
    print("+", end = '')
  else : 
    print("-", end="")
  i += 1

---------+---------+---------+---------+

In [32]:
i = 1
while i <= 40:
  if i % 10 == 5:
    print("+", end = '')
  else : 
    print("-", end="")
  i += 1

----+---------+---------+---------+-----

In [37]:
print("-----------------------------------")
print("cm \t inch \t ft \t yd")
print("-----------------------------------")
for i in range(10, 101, 10):
  print("%d \t %.1f \t %.1f \t %.1f" %(i, i*0.393701, i*0.032808, i*0.010936))

-----------------------------------
cm 	 inch 	 ft 	 yd
-----------------------------------
10 	 3.9 	 0.3 	 0.1
20 	 7.9 	 0.7 	 0.2
30 	 11.8 	 1.0 	 0.3
40 	 15.7 	 1.3 	 0.4
50 	 19.7 	 1.6 	 0.5
60 	 23.6 	 2.0 	 0.7
70 	 27.6 	 2.3 	 0.8
80 	 31.5 	 2.6 	 0.9
90 	 35.4 	 3.0 	 1.0
100 	 39.4 	 3.3 	 1.1

In [39]:
for i in range(1, 1001) : 
  print(i, end=' ')
  if i == 10:
    break

1 2 3 4 5 6 7 8 9 10

In [41]:
score = [92, 86, 68, 120, 56, 72]
for s in score:
  if(s < 0 or s > 100):
    break
  print(s)
print("성적 처리 끝")

92
86
68
성적 처리 끝

In [42]:
score = [92, 86, 68, 120, 56, 72]
for s in score:
  if(s < 0 or s > 100):
    continue
  print(s)
print("성적 처리 끝")

92
86
68
56
72
성적 처리 끝

In [44]:
print('3+4?')
while True:
  n = int(input('정답 입력 : '))
  if n == 7:
    print('참 잘했어요')
    break

3+4?
정답 입력 : 4
정답 입력 : 5
정답 입력 : 8
정답 입력 : 0
정답 입력 : 7
참 잘했어요