<a href="https://colab.research.google.com/github/dongdongdongha/cu/blob/main/%EB%A5%98%EB%8F%99%ED%95%98_205_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
age = int(input("몇살이세요?"))
print(age + age)

몇살이세요?15
30

In [7]:
price = input('가격을 입력하세요 : ')
num = input('개수를 입력하세요 : ')
sum = int(price) * int(num) 
print('총액은', sum, '원입니다.')

가격을 입력하세요 : 12
개수를 입력하세요 : 4243
총액은 50916 원입니다.

In [8]:
price = int(input('가격을 입력하세요 : '))
num = int(input('개수를 입력하세요 : '))
sum = price * num 
print('총액은', sum, '원입니다.')

가격을 입력하세요 : 777
개수를 입력하세요 : 65
총액은 50505 원입니다.

In [11]:
width = int(input('가로 : '))
high = int(input('세로 : '))
print('사각형의 면적은', width*high, '입니다')

가로 : 11
세로 : 11
사각형의 면적은 121 입니다

In [12]:
nm = input('이름?')
sus = int(input('태어난 해는?'))
yy = 2023 - sus + 1
print(nm, '님의 나이는', yy,'세 입니다.')

이름?동하
태어난 해는?2006
동하 님의 나이는 18 세 입니다.

In [13]:
rkrur = int(input('가격?'))
rotn = int(input('개수?'))
ehs = int(input('지불액?'))
print('거스름돈은', ehs-(rkrur*rotn), '원입니다.')

가격?500
개수?4
지불액?5000
거스름돈은 3000 원입니다.

In [14]:
score = 100
print(score)
print(type(score))

100
<class 'int'>

In [15]:
score = 'high'
print(score)
print(type(score))

high
<class 'str'>

In [16]:
print(type(3))
print(type('df'))
print(type(2.34))

<class 'int'>
<class 'str'>
<class 'float'>

In [17]:
num = 123456789
print(num)
print(type(num))

123456789
<class 'int'>

In [18]:
num = -20909
print(num)
print(type(num))

-20909
<class 'int'>

In [19]:
a = 1.5
b = -3.5
print(a, b)
print(type(a), type(b))

1.5 -3.5
<class 'float'> <class 'float'>

In [20]:
x = 3.3764
y = 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [21]:
a = "Korea 서울 1234"
print(a)
print(type(a))

Korea 서울 1234
<class 'str'>

In [22]:
a = 30
print(a)
print(type(a))

b = '30'
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [26]:
a = 5
b = a == 5
print(b)

if a == 5:
  print("a는 5")

True
a는 5

In [29]:
a = input("첫번째 숫자를 입력하세요 : ")
b = input("두번째 숫자를 입력하세요 : ")
c = a+b
print(c)

첫번째 숫자를 입력하세요 : 12
두번째 숫자를 입력하세요 : 34
1234

In [28]:
3a = input("첫번째 숫자를 입력하세요 : ")
b = input("두번째 숫자를 입력하세요 : ")
c = int(a) + int(b)
print(c)

첫번째 숫자를 입력하세요 : 32
두번째 숫자를 입력하세요 : 22
54

In [33]:
inch = input('인치 : ')
cm = float(inch) * 2.54
print(cm,'cm')

인치 : 42
106.68 cm

In [37]:
r = input('qkswlfma?')
pie = 3.14
enffp = 2.0 * pie * float(r)
auswjr = pie * float(r) * float(r)
print('반지름 : ', r, '둘레 : ', format(enffp, ".2f"), '면적 : ',auswjr)

qkswlfma?5
반지름 :  5 둘레 :  31.40 면적 :  78.5

In [39]:
hk = input("guswozl?")
mk = input("5rodnjf gn ahrvyzl?")
print("gksekfdp", (int(mk) - int(hk)) / 5, 'Tlr tjdwkgoqhtpdy')

guswozl?160
5rodnjf gn ahrvyzl?168
gksekfdp 1.6 Tlr tjdwkgoqhtpdy

In [41]:
book = int(input('corrkqt : '))
dc = float(input('wjdtngud(%) : '))
dv = int(input('qothdql : '))
print("rufwodor : ", ((100 - dc) / 100) * book + dv)

corrkqt : 3000
wjdtngud(%) : 20
qothdql : 3000
rufwodor :  5400.0

In [43]:
dlf = input('1rhkahr : ')
dl = input('2rhkahr : ')
print('합계 : ', int(dlf) + int(dl), '평균 : ', (int(dlf) + int(dl)) / 2)

1rhkahr : 80
2rhkahr : 67
합계 :  147 평균 :  73.5