<a href="https://colab.research.google.com/github/dongdongdongha/cu/blob/main/%EB%A5%98%EB%8F%99%ED%95%98_205_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = "python"
print(s[0])
print(s[-1])

p
n

In [3]:
s = "python"
print(s[1])

y

In [10]:
a = input("첫번째 문자열 : ")
b = input("두번째 문자열 : ")
c = input("세번째 문자열 : ")

if a[-1] == b[0] and b[-1] == c[0]:
  print("good")
else:
  print("bad")

첫번째 문자열 : apple
두번째 문자열 : egg
세번째 문자열 : game
good

In [12]:
s = "python"
for c in s:
  print(c, end=',')

p,y,t,h,o,n,

In [15]:
n = input('하이픈(-)을 포함한 휴대번호를 입력하세요 : ')
for s in n:
  if s != '-':
    print(s, end='')

하이픈(-)을 포함한 휴대번호를 입력하세요 : 010-3117-9664
01031179664

In [16]:
s = "python"
print(len(s))
n = "여섯글자이다"
print(len(n))

6
6

In [23]:
s = input("문자열 입력:")

for i in range(len(s)):
  if s[i] == 't':
    print(i+1, end = ' ')

문자열 입력:test
1 4

In [28]:
s = input("문장을 입력해주세요 :")
i = len(s)
while i >= 0:
  if s[i-1] == ' ':
    print("-", end = '')
  else:
    print(s[i-1], end='')
  i -= 1

문장을 입력해주세요 :dhsdf gg a
a-gg-fdshda

In [31]:
a = input("문자열 입력 : ")

for i in range(len(a)-1):
  print(a[i], a[i+1], sep='')

문자열 입력 : python
py
yt
th
ho
on

In [33]:
s = "python"
print(s[2:5])
print(s[3:6])
print(s[0:4])
print(s[2:4])
print(s[4:6])

tho
hon
pyth
th
on

In [35]:
s = "차종: 코란도C, 제조사:쌍용, 배기량: 1998"
print(s[14:16])

쌍용

In [37]:
a = "20210505-104830.jpg"
print("촬영 날짜 : "+a[4:6]+"월"+a[6:8]+"일")
print("촬영 시간 : "+a[9:11]+"시"+a[11:13]+"분")
print("확장자 : "+a[16:19])

촬영 날짜 : 05월05일
촬영 시간 : 10시48분
확장자 : jpg

In [48]:
a = "월화수목금토일"
print(a[::2])
print(a[-1:-8:-1])

월수금일
일토금목수화월

In [46]:
jumin = "901231-1914983"
year = jumin[0:2]
if jumin[7] == 2:
  gender = "여자"
else:
  gender = "남자"
print("{}년생 {}입니다.".format(year, gender))

90년생 남자입니다.

In [49]:
a = 'a:b:c:d'
print(a.split(':'))

['a', 'b', 'c', 'd']

In [50]:
print(','.join('abcd'))
print(','.join(["1","2","3"]))

a,b,c,d
1,2,3