<a href="https://colab.research.google.com/github/dongdongdongha/cu/blob/main/%EB%A5%98%EB%8F%99%ED%95%98_205_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5**2)
print(5//2)
print(5%2)

7
3
10
2.5
25
2
1

In [3]:
x = 10 % 3 
print(x) 
y = 7 // 3 
print(y)

1
2

In [4]:
a = 10 
b = 20 
c = a + b * 10 - 5 / 5 
print(c)

209.0

In [5]:
x = 2**3
print(x)

y = 10**4
print(y)

8
10000

In [6]:
hello = '안녕' * 5
print(hello)

안녕안녕안녕안녕안녕

In [7]:
s1 = '대한민국'
s2 = '만세'
print(s1+s2)
print(s1*5)

대한민국만세
대한민국대한민국대한민국대한민국대한민국

In [9]:
print("korea"+str(2021))
print(10+int("22"))
print(10 + int(22.5))
print(10 + int(float(22.5)))
print("korea" + '2021')

korea2021
32
32
32
korea2021

In [10]:
x = 10
x += 20
print(x)

30

In [11]:
a = 5
a += 1
print(a)

a = 5
a += 1
print(a)

a -= 5
print(a)

a *= 2
print(a)

6
6
1
2

In [12]:
x = 3
y = 5
x *= x+y
print(x)

24

In [18]:
money = int(input("투입한 돈 : "))
price = int(input("물건값 : "))
change = money - price
print("거스름돈 : ", change)
dhqor = change // 500
qor = (change % 500) // 100
print("500원 : ", dhqor)
print("100원 : ", qor)

투입한 돈 : 2500
물건값 : 300
거스름돈 :  2200
500원 :  4
100원 :  2

In [19]:
if 3 < 5:
  print("Hello World")

Hello World

In [20]:
if 3 > 5:
  print("Hello World")

In [21]:
age = int(input("몇살입니까?"))
if age<20:
  print("학생입니다.")

몇살입니까?10
학생입니다.

In [22]:
age = 15
if age < 20: 
  print("학생입니다.")
  print("안녕히가세요")

학생입니다.
안녕히가세요

In [25]:
age = 20
if age < 20 : 
  print("학생입니다.")
print("안녕히가세요.")

In [26]:
print(3 == 5)
print(3 != 5)
print(3 < 5)

False
True
True

In [28]:
x = 4
print(1 < x < 5)

True

In [31]:
print(3 >= 5)

False

In [37]:
s = int(input("숫자입력"))
if s == 5:
  print("5입니다")
else :
  if s > 5:
    print("5보다 크다")
  else:
    print("5보다 작다")

숫자입력10
5보다 크다

In [38]:
country = "Korea"
if country == "Korea" : 
  print("한국")

한국

In [39]:
age = int(input("몇살입니까?"))
if age < 20 : 
  print("학생입니다.")
else : 
  print("성인입니다.")

몇살입니까?43
성인입니다.

In [41]:
s = int(input("숫자입력 : "))
if s % 2 == 0:
  print("짝수")
else : 
  print("홀수")

숫자입력 : 77
홀수

In [44]:
s = int(input("정수입력 : "))
if s % 5 == 0:
  print("5의 배수입니다")
else :
  print("5의 배수가 아닙니다.")

정수입력 : 321
5의 배수가 아닙니다.

In [46]:
passw = input("암호입력 : ")
if passw == "암호" : 
  print("암호이다")
else : 
  print("암호가 아니다.")

암호입력 : 암호
암호이다

In [48]:
s = int(input("숫자를 입력하세요"))
if s > 0:
  print("양수입니다")
else : 
  print("0 또는 음수다.")

숫자를 입력하세요-321
0 또는 음수다.

In [51]:
s1 = int(input("첫숫자 : "))
s2 = int(input("둘째숫자 : "))
if s1 > s2 : 
  print(s1 - s2)
else : 
  print(s2 -s1)

첫숫자 : 21
둘째숫자 : 21
0

In [61]:
s = int(input("(주간근무 : 1 / 야간근무 : 2)선택 : "))
ss = int(input("근무시간 입력 : "))
if s == 1:
  print(ss,"시간동안 일한 급여 : ", ss * 9500)
else:
  print(ss,"시간동안 일한 급여 : ", int(ss * 9500 * 1.5))

(주간근무 : 1 / 야간근무 : 2)선택 : 2
근무시간 입력 : 5435
5435 시간동안 일한 급여 :  77448750

In [69]:
n = input("이름 : ")
s = int(input("근무시간 입력 : "))
if s > 40:
  print(n,"님", sep = "")
  print("일한시간 :", s)
  print("초과시간 :", int(s-40))
  print("주급 : ", int(40 * 12000 + (s-40) * 1200 * 1.5))
else : 
  print(n,"님", sep = "")
  print("일한시간 :", s)
  print("주급 :", s * 1200)

이름 : fbehdgk
근무시간 입력 : 33
fbehdgk님
일한시간 : 33
주급 : 39600

In [71]:
print((3 == 3)and(4 != 3))
print((3 == 3)or(4 != 3))
print(not(4 != 3))

True
True
False